* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: clear sans, helvetica neue, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: aliceblue;
}

#grid-content {
	--cell-size: 20vmin;
	--cell-gap: 2vmin;
	--radius-1: 1vmin;
	position: relative;
	background-color: #bbada0;
	border-radius: var(--radius-1);
	padding: var(--cell-gap);
	display: grid;
	grid-template-rows: repeat(4, var(--cell-size));
	grid-template-columns: repeat(4, var(--cell-size));
	gap: var(--cell-gap);
}

.cell {
	background: rgba(238, 228, 218, 0.35);
	border-radius: var(--radius-1);
}

.tile {
	--x: 0;
	--y: 0;
	position: absolute;
	top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
	left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
	margin: var(--cell-gap);
	width: var(--cell-size);
	height: var(--cell-size);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 53px;
	font-weight: bold;
	border-radius: var(--radius-1);
	transition: 100ms ease-in-out;
	background-color: hsl(30, 37%, var(--bg-lightness));
	color: hsl(30, 8%, var(--text-lightness));
	animation: show 200ms;
}

@keyframes show {
	0% {
		transform: scale(0);
		opacity: 0.5;
	}
}
